header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  height: 100px;
}

header .title {
  margin-left: 1rem;
  margin-top: 1rem;
}

header h1 {
  font-size: 28px;
  margin-bottom: .3rem;
}

header .cursor {
  opacity: 0;
}

header .cursor.active {
  opacity: 1;
}

header h3 {
  font-size: 20px;
}

.burger-icon {
  position: fixed;
  top: 1rem;
  right: 1.1rem;
  padding: 1rem;
  border-radius: 5px;
  width: 50px;
  height: 40px;
  text-align: center;
  z-index: 2;
  -webkit-transition: .5s;
  transition: .5s;
}

.burger-icon span {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 9px;
  background-color: black;
  width: 80%;
  height: 6px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

.burger-icon span:nth-of-type(1) {
  top: 12px;
}

.burger-icon span:nth-of-type(2),
.burger-icon span:nth-of-type(3) {
  top: 24px;
}

.burger-icon span:nth-of-type(4) {
  top: 36px;
}

.burger-icon.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.burger-icon.active span {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.burger-icon.active span:nth-of-type(1) {
  width: 0%;
  opacity: 0;
}

.burger-icon.active span:nth-of-type(2) {
  left: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-icon.active span:nth-of-type(3) {
  left: 5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger-icon.active span:nth-of-type(4) {
  width: 0%;
  opacity: 0;
}

nav {
  -webkit-transition: .2s linear;
  transition: .2s linear;
  position: fixed;
  opacity: 0;
  overflow: hidden;
}

nav .menu {
  position: fixed;
  width: 0%;
  height: 0%;
  background-color: rgba(42, 129, 255, 0.9);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 0px;
  z-index: -10;
}

nav .menu li {
  padding: 1rem 0;
  width: 80%;
}

nav .menu li:first-child {
  border-bottom: 2px solid #fff;
}

nav .menu li:nth-child(2) {
  border-bottom: 2px solid #fff;
}

nav .menu li:nth-child(3) {
  border-bottom: 2px solid #fff;
}

nav .menu li a {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
}

nav.active {
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 1;
}

nav.active .menu {
  -webkit-transition: .2s;
  transition: .2s;
  width: 100%;
  height: 100%;
  font-size: 32px;
}

nav.active li {
  -webkit-animation: scale .5s linear;
          animation: scale .5s linear;
}

@media (orientation: landscape) and (min-width: 600px) {
  header .title {
    margin: 30px 0 0 30px;
  }
}

@media (min-width: 768px) {
  header .title h1 {
    font-size: 32px;
  }
  header .title h3 {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  header .title {
    margin: 30px 0px 0px 50px;
    width: 30%;
  }
  header .title h1 {
    font-size: 32px;
  }
  header nav {
    display: none;
  }
  header .burger-icon {
    display: none;
  }
  header .desktop-m {
    width: 50%;
    margin-left: 20px;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .desktop-m li {
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 20px;
  }
  header .desktop-m li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
  }
}

@-webkit-keyframes scale {
  0% {
    display: none;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    display: block;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    display: none;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    display: block;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px auto;
  width: 90%;
}

.main .photo {
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 90%;
  margin-bottom: 20px;
}

.main .photo img {
  width: 250px;
  height: 250px;
  border-radius: 9px;
  border-radius: 50%;
  -webkit-animation: circle 1.5s linear;
          animation: circle 1.5s linear;
}

.main .about h1 {
  margin: 15px 15px 0px 30px;
  font-size: 28px;
  letter-spacing: 2px;
}

.main .about .buttons {
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px 20px 0px 0px;
}

.main .about .buttons div {
  width: 24vw;
  height: 24vw;
  border-radius: 50%;
  text-align: center;
  line-height: 24vw;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  -webkit-animation: circle 1.5s linear;
          animation: circle 1.5s linear;
}

.main .about .buttons .resume {
  background-color: #E83556;
}

.main .about .buttons .projects {
  background-color: #61D0D4;
}

.main .about .buttons .skills {
  background-color: #D1C926;
}

.main .about .about-me {
  width: 100%;
  line-height: 26px;
  margin: 10px auto 0px;
}

@media (orientation: landscape) and (min-width: 640px) {
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 15px;
  }
  .main .photo {
    margin-left: 0px;
    width: 40%;
    margin-top: 15px;
  }
  .main .photo img {
    width: 231px;
    height: 231px;
  }
  .main .about {
    width: 60%;
  }
  .main .about .buttons div {
    width: 16vw;
    height: 16vw;
    line-height: 16vw;
  }
}

@media (min-width: 768px) {
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 30px;
  }
  .main .photo {
    width: unset;
    margin-top: 35px;
    margin-left: 0px;
  }
  .main .about {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .about h1 {
    font-size: 32px;
  }
  .main .about .buttons div {
    width: 15vw;
    height: 15vw;
    line-height: 15vw;
    font-size: 16px;
  }
  .main .about p {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .main {
    margin-top: 30px;
  }
  .main .photo img {
    width: 300px;
    height: 300px;
    margin-top: 20px;
  }
  .main .about {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .about h1 {
    font-size: 40px;
    margin-left: 50px;
  }
  .main .about .buttons {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 25px 20px;
  }
  .main .about .buttons div {
    width: 17vw;
    height: 17vw;
    line-height: 17vw;
    font-size: 18px;
  }
  .main .about .about-me {
    width: 80%;
    font-size: 20px;
  }
}

@media (min-width: 1400px) {
  .main .about .buttons div {
    width: 22vh;
    height: 22vh;
    line-height: 22vh;
  }
}

@-webkit-keyframes circle {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 0.85;
  }
}

@keyframes circle {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 0.85;
  }
}

footer {
  background-color: #E83556;
  margin-top: 30px;
  padding: 25px 30px;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 12px;
  padding-top: 12px;
}

footer div > div span {
  color: #fff;
}

footer div > div span {
  margin-left: 25px;
  font-size: 18px;
}

footer div > div span a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer i {
  color: black;
  font-size: 32px;
}

.wrap.active .call {
  -webkit-animation: scaleFromZero 1.5s linear;
          animation: scaleFromZero 1.5s linear;
}

.wrap.active .mail {
  -webkit-animation: scaleFromZero 1.5s linear;
          animation: scaleFromZero 1.5s linear;
}

.wrap.active .social i {
  -webkit-animation: fromLeft .9s linear;
          animation: fromLeft .9s linear;
}

.wrap.active .copyright {
  -webkit-animation: scaleFromZero 1.5s linear;
          animation: scaleFromZero 1.5s linear;
}

@media (min-width: 768px) {
  footer i {
    font-size: 28px;
  }
  footer div > div span {
    font-size: 22px;
    font-weight: normal;
  }
}

@media (min-width: 1023px) {
  footer div > div span {
    font-size: 18px;
  }
  footer .wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@-webkit-keyframes scaleFromZero {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleFromZero {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.resume-cv {
  padding-top: 30px;
  width: 90%;
  margin: 0 auto;
}

.resume-cv h1 {
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.resume-cv .cv-section .cv-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32vw;
  height: 32vw;
  background-color: red;
  border-radius: 50%;
  margin-top: 20px;
}

.resume-cv .cv-section .cv-title span {
  color: #fff;
  margin-left: 8px;
}

.resume-cv .cv-section p {
  margin-top: 15px;
  line-height: 26px;
}

.resume-cv .cv-section hr {
  margin-top: 20px;
}

.resume-cv .skills {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.resume-cv .skills .skill {
  width: 45%;
}

.resume-cv .skills .skill span {
  font-size: 32px;
  color: red;
  margin-left: 10px;
}

.resume-cv .skills .skill h3 {
  margin-top: 10px;
  letter-spacing: 2px;
}

.resume-cv .skills .skill hr {
  margin-top: 10px;
}

.resume-cv .skills .skill ul {
  margin-top: 10px;
}

.resume-cv .skills .skill ul li {
  list-style-type: none;
  padding: 3px 0px;
  line-height: 26px;
}

@media (min-width: 768px) {
  .resume-cv h1 {
    font-size: 32px;
  }
  .resume-cv .cv-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .resume-cv .cv-section .cv-title {
    width: 17vw;
    height: 17vw;
  }
  .resume-cv .cv-section .cv-title span {
    color: #fff;
    margin-left: 8px;
  }
  .resume-cv .cv-section p {
    font-size: 18px;
    margin-left: 15px;
    width: 77%;
  }
  .resume-cv .cv-section hr {
    width: 100%;
  }
  .resume-cv .skills .skill {
    text-align: center;
  }
  .resume-cv .skills .skill span {
    margin-left: 0px;
  }
}

@media (min-width: 1024px) {
  .resume-cv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .resume-cv .cv {
    width: 70%;
  }
  .resume-cv h1 {
    font-size: 40px;
  }
  .resume-cv .cv-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .resume-cv .cv-section .cv-title {
    width: 150px;
    height: 150px;
  }
  .resume-cv .cv-section .cv-title span {
    font-size: 18px;
  }
  .resume-cv .cv-section p {
    font-size: 20px;
    width: 65%;
  }
  .resume-cv .skills {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .resume-cv .skills .skill {
    margin-top: 38px;
    text-align: left;
  }
  .resume-cv .skills .skill span {
    font-size: 50px;
    margin-left: 0;
  }
  .resume-cv .skills .skill h3 {
    font-size: 24px;
  }
  .resume-cv .skills .skill hr {
    margin-top: 10px;
    width: 100%;
  }
  .resume-cv .skills .skill ul li {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .resume-cv .cv-section .cv-title span {
    font-size: 18px;
  }
  .resume-cv .cv-section p {
    width: 64%;
  }
}

@media (min-width: 1460px) {
  .resume-cv .cv-section .cv-title {
    width: 9vw;
    height: 9vw;
  }
  .resume-cv .cv-section .cv-title span {
    font-size: 18px;
  }
  .resume-cv .cv-section p {
    width: 64%;
  }
}

@media (orientation: landscape) and (min-width: 480px) {
  .resume-cv .cv-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .resume-cv .cv-section .cv-title {
    width: 16vw;
    height: 16vw;
  }
  .resume-cv .cv-section .cv-title span {
    font-size: 14px;
  }
  .resume-cv .cv-section p {
    font-size: 16px;
    width: 74%;
    margin-left: 20px;
  }
  .resume-cv .cv-section hr {
    width: 100%;
  }
  .resume-cv .skills {
    padding-top: 10px;
  }
  .resume-cv .skills .skill hr {
    margin-top: 10px;
    width: 100%;
  }
  .resume-cv .skills .skill ul li {
    font-size: 16px;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .resume-cv .cv-section .cv-title span {
    font-size: 20px;
  }
  .resume-cv .cv-section p {
    width: 65%;
    font-size: 20px;
  }
}

@media (min-width: 1600px) {
  .resume-cv .cv-section p {
    width: 58%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: helvetica, sans-serif;
}

body {
  max-width: 1260px;
  margin: 0 auto;
  background-color: #EEEEEE;
}

@media (max-width: 1023px) {
  .desktop-m {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */