.contact {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    hr {
        margin-bottom: 10px;
    }

    .social-icon {
        display: flex;
        margin-bottom: 15px;

        .icon {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        span {
            margin-top: 15px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            background-color: #BC4B51;
            display: inline-block;
            border-radius: 50%;
            text-align: center;
            font-size: 32px;
            color: #F4FFFF;
        }

        img {
            display: none
        }
    }

    .form {
        form {
            display: flex;
            flex-direction: column;

            textarea {
                resize: none;
                padding: 10px 10px;
                margin: 10px 0;
                font-size: 16px;
                border: 2px solid #5F9EA0;

                &:focus {
                    outline: none !important;
                    border: 2px solid #BC4B51;
                }
            }

            input {
                padding: 10px 10px;
                margin: 10px 0;
                border: 2px solid #5F9EA0;

                &::placeholder {
                    padding-left: 0px;
                    font-size: 16px;
                }

                &:focus {
                    outline: none !important;
                    border: 2px solid #BC4B51;
                }

                &[type=submit] {
                    width: 30%;

                    margin-left: calc(100% - 30%);
                    background-color: transparent;
                    border-style: none;
                    color: #BC4B51;
                    border: 3px solid #5F9EA0;
                    border-radius: 9px;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: bold;
                    letter-spacing: 2px;

                    &.active {
                        animation: shake 1s;
                    }

                    &:hover {
                        background-color: #fff;
                        border-color: #BC4B51;
                        color: #BC4B51;
                    }
                }
            }


        }

    }

}

@media (min-width:768px) {
    .contact {
        flex-direction: row;

        h1 {
            font-size: 32px;
        }

        .social {
            width: 40%;
        }

        .social-icon {
            display: flex;
            flex-direction: column;

            span {
                width: 70px;
                height: 70px;
                line-height: 70px;
                font-size: 40px;
            }

            img {
                display: none;
                margin-top: 15px;
                width: 100%;
                height: 100%;

            }
        }

        .form {
            padding-left: 30px;
            width: 60%;
            padding-top: 60px;


            form {

                textarea {
                    padding: 20px 10px;
                    font-size: 16px;


                }

                input {
                    padding: 20px 10px;

                    font-size: 16px;

                    &::placeholder {
                        padding-left: 0px;
                        font-size: 16px;
                    }
                }
            }
        }

    }
}

@media (min-width:1366px) {
    .contact {
        flex-direction: row;

        h1 {
            font-size: 40px;
        }

        .social-icon {
            span {
                width: 90px;
                height: 90px;
                line-height: 90px;
                font-size: 40px;
            }
        }

        .form {
            form {

                textarea {
                    padding: 20px 10px;
                    font-size: 22px;
                }

                input {
                    padding: 20px 10px;

                    font-size: 22px;

                    &::placeholder {
                        padding-left: 0px;
                        font-size: 24px;
                    }

                    &[type=submit] {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-5deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(5deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(5deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-5deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-5deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(5deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-5deg);
    }
}