footer {
    background-color: transparent;
    margin-top: 30px;
    padding: 25px 30px;

    div {
        display: flex;
        flex-direction: column;

    }

    div>div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px;


        span {
            color: #BC4B51;

        }

        span {
            margin-left: 25px;
            font-size: 18px;
            font-weight: bold;

        }

        span a {
            text-decoration: none;
            color: #BC4B51;
            cursor: pointer;
        }
    }

    .social {
        display: flex;
        justify-content: space-around;
    }

    i {
        color: #010;
        font-size: 32px;
    }
}


.wrap.active {
    .call {
        animation: scaleFromZero 1.5s linear;
    }

    .mail {
        animation: scaleFromZero 1.5s linear;
    }

    .social {
        i {
            animation: fromLeft .9s linear;
        }

    }

    .copyright {
        animation: scaleFromZero 1.5s linear;
    }

}



@media (min-width:768px) {
    footer {
        i {
            font-size: 28px;
        }

        div>div {
            span {
                font-size: 22px;
                font-weight: bold;
            }
        }
    }
}

@media (min-width:1023px) {
    footer {
        div>div span {
            font-size: 18px;
            font-weight: bold;
        }

        .wrap {
            flex-direction: row;
            justify-content: space-around;
        }

    }
}

@keyframes scaleFromZero {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}