footer {
    background-color: #E83556;
    margin-top: 30px;
    padding: 25px 30px;


    div {
        display: flex;
        flex-direction: column;
    }

    div>div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 25px;

        span {
            color: #fff;
        }

        span {
            margin-left: 25px;
            font-size: 18px;
        }

        span a {
            text-decoration: none;
            color: #fff;
            cursor: pointer;
        }
    }

    .social {
        display: flex;
        justify-content: space-around;
    }

    i {
        color: black;
        font-size: 32px;
    }
}


.wrap.active {
    .call {
        animation: scaleFromZero 1.5s linear;
    }

    .mail {
        animation: scaleFromZero 1.5s linear;
    }

    .social {
        i {
            animation: fromLeft .9s linear;
        }

    }

    .copyright {
        animation: scaleFromZero 1.5s linear;
    }

}

@media (orientation:landscape) and (min-width:640px) {
    .wrap {
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:768px) {
    footer {
        i {
            font-size: 28px;
        }

        div>div {
            span {
                font-size: 22px;
                font-weight: normal;
            }
        }
    }
}

@keyframes scaleFromZero {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}