.main {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 90%;

    .photo {
        margin: 0 auto;
        text-align: center;
        position: relative;
        width: 90%;
        margin-bottom: 20px;

        img {

            width: 250px;
            height: 250px;
            border-radius: 9px;
            border-radius: 50%;
            animation: circle 1.5s linear;
        }


    }

    .about {
        h1 {
            margin: 15px 15px 0px 30px;
            font-size: 28px;
            letter-spacing: 2px;

        }

        .buttons {
            width: 92%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 20px 20px 0px 0px;

            div {
                width: 24vw;
                height: 24vw;
                border-radius: 50%;
                text-align: center;
                line-height: 24vw;
                text-transform: uppercase;
                font-size: 14px;
                color: #fff;
                font-weight: bold;
                animation: circle 1.5s linear;
                cursor: pointer;




            }

            .resume {
                background-color: #BC4B51;
            }

            .projects {
                background-color: #BC4B51;
            }

            .skills {
                background-color: #BC4B51;
            }
        }

        .about-me {
            width: 100%;
            line-height: 26px;
            margin: 10px auto 0px;
        }
    }


}

@media (orientation:landscape) and (min-width:640px) {
    .main {
        flex-direction: row;
        margin-top: 15px;

        .photo {
            margin-left: 0px;
            width: 40%;
            margin-top: 15px;

            img {
                width: 231px;
                height: 231px;
            }
        }

        .about {
            width: 60%;

            .buttons {
                div {
                    width: 16vw;
                    height: 16vw;
                    line-height: 16vw;
                }
            }
        }
    }
}

@media (min-width:768px) {
    .main {
        flex-direction: row;
        margin-top: 30px;

        .photo {
            // margin-left: 15px;
            width: unset;
            margin-top: 35px;
            margin-left: 0px;
        }

        .about {
            width: 70%;
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 32px;
            }

            .buttons {


                div {
                    width: 15vw;
                    height: 15vw;
                    line-height: 15vw;
                    font-size: 16px;
                }
            }

            p {
                font-size: 16px;
            }
        }
    }
}

@media (min-width:1024px) {
    .main {
        margin-top: 30px;

        .photo {

            img {
                width: 300px;
                height: 300px;
                margin-top: 20px;

            }
        }

        .about {
            width: 70%;
            display: flex;
            flex-direction: column;

            h1 {

                font-size: 40px;
                margin-left: 50px;
            }

            .buttons {
                order: 0;
                margin: 25px 0px;

                div {
                    width: 150px;
                    height: 150px;
                    line-height: 150px;
                    font-size: 18px;
                }
            }

            .about-me {
                width: 80%;
                font-size: 20px;
            }
        }
    }
}

@media (min-width:1400px) {
    .main {
        .about {
            .buttons {
                div {
                    width: 17vh;
                    height: 17vh;
                    line-height: 17vh;
                }
            }
        }
    }
}

@keyframes circle {
    0% {
        display: none;
        opacity: 0;

    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 0.85;

    }
}