.projects-section {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;

    h1 {
        font-size: 28px;
    }

    .projects-image {
        margin-top: 20px;
        display: flex;
        justify-content: center;


        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            opacity: 0.8;

        }
    }

    .one-project.active:nth-of-type(1) .projects-image {

        animation: fromLeft 1s linear;
    }

    .one-project.active:nth-of-type(2) .projects-image {
        animation: fromRight 1s linear;
    }

    .one-project.active:nth-of-type(3) .projects-image {
        animation: fromLeft 1s linear;
    }

    .project-desc {

        .project-title {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 15px 0px;
            width: 25vw;
            height: 25vw;
            background-color: cadetblue;
            border-radius: 50%;
            color: #fff;
        }

        h4 {
            margin: 15px 0px;
        }

        p {
            margin-bottom: 15px;
            line-height: 26px;
        }
    }

    .one-project.active:nth-of-type(1) .project-desc {
        animation: fromRight 1s linear;
    }

    .one-project.active:nth-of-type(2) .project-desc {
        animation: fromLeft 1s linear;
    }

    .one-project.active:nth-of-type(3) .project-desc {
        animation: fromRight 1s linear;
    }



}

@media (max-width:340px) {
    .projects-section {
        .project-desc {

            .project-title {
                width: 27vw;
                height: 27vw;
            }
        }
    }
}

@media (min-width: 768px) {
    .projects-section {

        h1 {
            font-size: 32px;
            margin-bottom: 15px;
        }

        .project-desc {
            display: flex;
            flex-wrap: wrap;

            .project-title {
                width: 150px;
                height: 150px;
            }

            h4 {
                display: none;
            }

            p {
                width: 75%;
                margin-left: 20px;
                align-self: center
            }

            hr {
                width: 100%;
            }
        }
    }
}

@media (min-width:1024px) {
    .projects-section {


        h1 {
            font-size: 40px;
        }

        .one-project {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-bottom: 40px;
            margin-left: 30px;
        }

        .one-project:nth-of-type(2) {
            flex-direction: row-reverse;

            .projects-image:nth-of-type(2) {
                width: 48%;
            }

            .project-desc {
                .project-title {
                    font-size: 20px;
                    align-self: flex-end;
                }
            }
        }

        .projects-image {
            width: 68%;
            margin-top: 20px;
            margin-right: 30px;

            img {
                width: 500px;
                height: 350px;
                border-radius: 15px;
                opacity: 0.8;

            }
        }

        .project-desc {

            width: 68%;

            .project-title {
                font-size: 20px;

            }

            hr {
                display: none;
            }

            p {
                width: 100%;
                margin-bottom: 15px;
                line-height: 26px;
                font-size: 20px;
            }
        }
    }
}

@media (min-width:1240px) {
    .projects-section {
        .project-desc {

            width: 68%;

            .project-title {
                width: 22vh;
                height: 22vh;

            }

            hr {
                display: none;
            }

            p {
                width: 100%;
                margin-bottom: 15px;
                line-height: 26px;
                font-size: 20px;
            }
        }

    }
}

@media (orientation:landscape) and (min-width:480px) {
    .projects-section {
        .project-desc {
            display: flex;
            margin-top: 30px;

            .project-title {
                text-align: center;
                width: 25vh;
                height: 25vh;

            }

            h4 {
                display: none;
                margin: 15px 0px;
            }

            p {
                width: 80%;
                margin-left: 30px;
                align-self: center;
            }

            hr {
                display: none;
            }
        }

    }
}

@media (orientation:landscape) and (min-width:1024px) {
    .projects-section {
        .project-desc {
            display: flex;
            margin-top: 0px;

            .project-title {
                text-align: center;
                width: 17vh;
                height: 17vh;

            }

            h4 {
                display: none;
                margin: 15px 0px;
            }

            p {
                width: 91%;
                margin-left: 0px;
                align-self: center;
            }

            hr {
                display: none;
            }
        }

    }
}

@keyframes fromLeft {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes fromRight {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0%);
    }
}