@import 'header';
@import 'main';
@import 'footer';
@import 'resume';
@import 'projects';
@import 'contact';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noticia Text', serif;
}

body {
    max-width: 1260px;
    margin: 0 auto;
    background-color: #ddd;
    color: #000;
}

h1 {
    color: #191D2B;
}

@media (max-width:1023px) {
    .desktop-m {
        display: none;
    }
}