@import 'header';
@import 'main';
@import 'footer';
@import 'resume';
@import 'projects';
@import 'contact';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noticia Text', serif;


}

body {
    max-width: 1260px;
    margin: 0 auto;
    background-color: rgba(221, 221, 221, 0.1);
    color: #000;
    overflow-x: hidden;
}

h1 {
    color: #191D2B;
}

@media (max-width:1023px) {
    .desktop-m {
        display: none;
    }
}

.backToTop {
    position: fixed;
    text-align: center;
    line-height: 70px;
    font-size: 32px;
    right: 15px;
    bottom: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: white;
    background-color: #BC4B51;
    transition: .3s;
    cursor: pointer;
    z-index: 1;
    display: none;

}

.backToTop.active {
    display: block;
}

@media (max-width:768px) {
    .backToTop.active {
        width: 40px;
        height: 40px;
        font-size: 24px;
        line-height: 40px;
    }
}